.top-nav {
  position: relative;
  height: 60px;
  background: black;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  overflow: hidden;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-left #nimadir1 {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#nimadir1 {
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease, fill 0.3s ease;
    transform-origin: center;
}
#nimadir1:hover {
    transform: scale(1.2);
    fill: #546e96;
}

.logo {
  height: 32px;
}

.nav-right {
  cursor: pointer;
  font-size: 18px;
}


.search-overlay {
  position: absolute;
  inset: 0;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 15px;
  transform: translateY(-100%);
  transition: .4s ease;
}

.search-overlay input {
  flex: 1;
  height: 38px;
  padding: 0 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.close-btn {
  font-size: 20px;
  cursor: pointer;
}


#search-toggle:checked ~ .search-overlay {
  transform: translateY(0);
}

#search-toggle:checked ~ .nav-left,
#search-toggle:checked ~ .nav-right {
  opacity: 0;
  pointer-events: none;
}

#search-toggle:checked ~ .search-overlay {
  transform: translateY(0);
}

#search-toggle:checked ~ .nav-left,
#search-toggle:checked ~ .nav-right {
  opacity: 0;
  pointer-events: none;
}



#mainCarousel .carousel-item img {
  height: 600px;
  object-fit: cover;
}


.carousel-caption {
  background: rgba(0, 0, 0, 0.45);
  padding: 1rem;
  border-radius: 8px;
}

.carousel-caption h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.carousel-caption p {
  font-size: 1.1rem;
  color: #f1f1f1;
}


.carousel-indicators button {
  background-color: #fff;
}



.col {
    width: 200px;
    height: 350px;
}

.hover-card {
  overflow: hidden; 
  transition: transform 0.3s ease;
}

.hover-card .card-img {
  height: 250px;
  transition: transform 0.4s ease;
}

.hover-card:hover .card-img {
  transform: scale(1.1); 
}

.card {
    border: none;
}

#ft {
    border: 1px rgb(26, 26, 26);
    width: 100%;
    height: 50px;
    margin-top: 100px;
    background-color: rgb(26, 26, 26);
}

#ff {
    border: 1px rgb(14, 14, 14);
    width: 100%;
    height: 45px;
    margin-top: 0px;
    background-color: rgb(14, 14, 14);
}

#tm {
    color: #fff;
    margin-left: 70px;
    margin-top: -30px;
}

#follow {
    color: #fff;
    margin-left: 1500px;
    margin-top: -40px;
}

#facebook{
    fill: white;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease, fill 0.3s ease;
    transform-origin: center;
    margin-left: 1600px;
    margin-top: -80px;
}

#facebook:hover {
    transform: scale(1.2);
    fill:#2355e0 ;
}
#twitter{
    fill: white;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease, fill 0.3s ease;
    transform-origin: center;
    margin-left: 1630px;
    margin-top: -127px;
}

#twitter:hover {
    transform: scale(1.2);
    fill:#4360b1 ;
}

#pinterest{
    fill: white;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease, fill 0.3s ease;
    transform-origin: center;
    margin-left: 1660px;
    margin-top: -175px;
}

#pinterest:hover {
    transform: scale(1.2);
    fill:#dd1616 ;
}

#insta {
    fill: white;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease, fill 0.3s ease;
    transform-origin: center;
    margin-left: 1690px;
    margin-top: -225px;
}

#insta:hover {
    transform: scale(1.2);
    fill:#dd16b2 ;
}

#in {
    fill: white;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease, fill 0.3s ease;
    transform-origin: center;
    margin-left: 1720px;
    margin-top: -270px;
}

#in:hover {
    transform: scale(1.2);
    fill:#3d7bd8 ;
}
#youtube {
    fill: white;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease, fill 0.3s ease;
    transform-origin: center;
    margin-left: 1750px;
    margin-top: -318px;
}

#youtube:hover {
    transform: scale(1.2);
    fill: #e20808;
}
#email {
    fill: white;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.3s ease, fill 0.3s ease;
    transform-origin: center;
    margin-left: 1780px;
    margin-top: -365px;
}

#email:hover {
    transform: scale(1.2);
    fill: #546e96;
}